a{
    text-decoration: none;
    margin: 5px;
    padding: 1px;
    color: rgb(36, 22, 22);
    font-weight: bolder;

}
.header{
    display: flex;
    align-items: center;

   
}

.navbars{
    text-decoration: none;
    color:   #502314;
    justify-content: space-between;
}

.burger1 input{
    color: rgb(36, 22, 22);
    width: 500px;
    padding: 15px;
    border-radius: 7px;
} 

h2{
    font: bolder;
    font-size: xx-large
}
h3 .smith{
    font: bolder;
}

.jay{
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
  width: 1000px;
  height: 600px;
}



a:hover{
    border: 1px solid orangered;
    border-radius: 20px ;
    background-color: orangered;
    color: #502314;

}
.text{
    font: bolder;
}

.searchb{
    display: flex;
}

.phonec{
display: flex;
}
.phoneh{
width: 500px;
}
.ptext{
    font-size: 60px;
     color: white; 
     font: bolder;
}
.news{
    display: flex;
    flex-direction: row;

}
.footer{
    display: flex ;
 justify-content: space-between
}







@media only screen and (min-width: 400px) {
    .searchb{
        display: flex;
        flex-direction: column;
    }

    .searchb input{
        max-width: 150px;
        max-height: 100px;
        bottom: -70px;
        z-index: 100;
    }


    .phoneh{
        width: 200px;
        }

        .ptext{
            padding-top: 100px;
            font-size: 15px;
             color: white; 
             font: bolder;
        }

        .playstore{
            padding-top: 15px;
            padding-right: 15px;
        }

        .news{
            display: flex;
            flex-direction: column;
        }

        .footer{
            display: flex ;
            flex-direction: column;
        }

}







@media only screen and (max-width: 600px) {
    .searchb{
        display: flex;
        flex-direction: column;
    }

    .searchb input{
        margin-top: 20px;
        width: 300px;
        height: 120px;
    }


 .playstore{
    flex-direction: row;
 }

        .news{
            display: flex;
            flex-direction: column;
        }

}



@media only screen and (min-width: 768px) {
    .searchb{
        display: flex;
        flex-direction: column;
    }

    .searchb input{
        margin-top: 50px;
        width: 300px;
        height: 120px;
    }


    .phoneh{
        width: 450px;
        }

        .ptext{
            padding-top: 200px;
            font-size: 25px;
             color: white; 
             font: bolder;
        }

        .playstore{
            padding-top: 15px;
            padding-right: 15px;
        }

        .news{
            display: flex;
            flex-direction: column;
        }

}